#wrapper {
    max-width: 970px;
    height: 455px;
    background-color: #265174;
    padding: 0px;
    border-bottom: 4px solid #1A3852;
    box-sizing: border-box; 
}

/*textsize change */
#textsize {
    margin: 0px 0px 0px 800px;
    padding: 0;
}

    #textsize p, #textsize a{
        display: inline-block;
        width:auto;
        font-size: 12px;
    }
 
    #textsize p>span {
        color: black;
    }

    #textsize p{
        color: white;
        margin: 0px;
    }

    #textsize a {
        color:#BDAB52;
    }

/*python logo*/
#pythonimg {
    display: inline-block;
    margin: 0;
    height: 75px;
    width: 300px;   
}

/* search box */
#search {
    display: inline-block;
    margin: 0;
    padding: 10px 25px 10px 35px;
    margin-top: 5px;
    margin-left: 385px;
    vertical-align: top;
    background-color: #454545;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
}

    /*input box */
    input {
        width: 150px;
        height: 25px;
        font-size: 10px;
        text-align: center;
    }

    #button {
        background-color: #224866;
        color: white;
        font-size: 10px;
        height: 100%;
        padding: 6px 8px 6px 8px;
        border-radius: 4px;
        box-shadow: 2px 2px 1px black;
    }

/*navigation bar */
#navbar {
    background-color: #447cab;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-align: justify;
    margin: 0 10px;
}

    #navbar li {
        display: inline-block;
        padding: 10px 27px;
    }
    #navbar li>a {
        color: white;
        text-decoration: none;
    }

/* left navigation */
#leftnav {
    width: 150px;
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

    #leftnav li{
        text-decoration: underline;
        margin: 0;
        padding: 3px 0px;
        list-style-type: none;
    }

    #leftnav>li span {
        margin-right: 5px;
        color: #BDAB52;
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
    }

    #leftnav a {
        color: white;
    }

#maincontent {
    margin: 10px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
}

/*paragraph containing python history*/
#history {
    margin: 10px 0px;
    padding: 0;
    display: inline-block;
    width: 75%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    vertical-align: top;
}

    .beautiful {
        color:#BDAB52;
        font-style: oblique;
        font-family: Arial, sans-serif;
        font-weight: normal;
        padding: 0;
        margin: 7px 0;
        font-size: 16px;
    }

    .zen {
        font-weight: normal;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 0;
    }

/* code for get.. started and apps*/
#subcontent {
    width: 970px;
    margin: 15px 0 0 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}

    .guides {
        margin-top: 10px;
        margin-right: 30px;
        padding: 0;
        width: 40%;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        margin-top: 25px;
        border-top: 5px solid #75A8D3;
    }

    .guides h3 {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0;
    }

    #gettingstarted, #applications {
        text-align: center;
        padding-left: 10px;
        padding-right: 100px;
        display: inline-block;
    }

    .guides p, .guides ul {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }

    .guides span {
        color: #75a8d3;
    }

    .guides li {
        padding-top: 5px;
        color: black;
        list-style-type: square;
    }

    #python {
        font-size: 12px;
        color: #75A8D3;
    }
/*footer*/
#footer {
    background:linear-gradient( #2b5c86, #75A8f3);
    margin-left: -30px; 
    padding: 0;
    display: inline-block;
    width: 970px;
    height: auto;
    margin-top: 5px;
    color:lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

    #footer ul {
        text-align: center;
    }

    #footer li {
        display: inline-block;
        text-align: center;
        margin-top: 30px;
        padding: 0 20px;
        font-size: 18px;
    }

    #footer li>a {
        text-decoration: none;
    }

    #footer li>a:visited {
        color: lightblue;
    }
    #footer p {
        text-align: center;
        font-size: 10px;
    }